* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}
.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 180px;
    border-radius: 50px;
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a {
    text-decoration: none;
    color: white;
}
.nav-list li a:hover {
    color: grey;
}
.rightnav {
    width: 30%;
    text-align: right;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.firstsection {
    align-content: flex-start;
    background-color:cyan;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 100%;
}
.secondsection {
    background-color: pink;
    height: 200px;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdsection {
    background-color: greenyellow;
    height: 270px;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}
.text-small {
    font-size: 18px;
}
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}
.section {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.thumbnail img {
    width: 200px;
    border: 5px solid black;
    margin-top: 20px;
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}